.h5 {
  color: white;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.titleLeaderbord {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  color: black;
  font-family: cursive;
  font-size: 40px;
}

.startLink {
  display: flex;
  justify-content: center;
  color: azure;
  font-family: cursive;
  font-size: 30px;
}

.ul {
  list-style-type: upper-roman;
  padding-left: 340px;
  font-size: 20px;
  padding-top: 40px;
  color: white;
}